[Unit]
Description=DbTwig - Ultra-Thin MiddleTier Listener
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/asterion
User=asterion
ExecStart=/usr/bin/node /home/asterion/asterion/oracle/dbTwig/middleTier/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
