.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td 
{
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.ReactTable .rt-tbody .rt-td 
{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable .rt-tbody .rt-tr-group 
{
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

/* ReactTable's "No rows found" div is oddly shaped/positioned, apparently for when the table is rendered with
 * no blank rows... if it is rendered with a fixed height and several blank rows, we probably don't need thesee
 * changes (I think this is needed if we set MinRows very low) */
 .rt-noData
 {
   height: 75%;
   background-color: #cccccc !important;
   white-space: nowrap;
   /* these two lines center the text vertically */
   display: flex !important;
   align-items: center;
 }
 
 